
<html>
    <head>
        <title>Orders</title>
        <meta http-equiv="refresh" content="2;URL=http://localhost:5000/" />
    </head>
    <body>
        <form action="/remove" method="post">
            <input type = "submit" value = "Remove Top Order">
        </form>
        <h1>Orders</h1>
        
                {% for order_number in Orders %}
                    <h2>Order Number: {{order_number}}</h2>
                        {% for name in Orders[order_number] %}
                        <p>{{Orders[order_number]['name']}} {{Orders[order_number]['amount']}}x</p>
                        {% endfor %}
                {% endfor %}
    </body>
</html>
